<!-- Pie Chart -->

<!--<strong>Name: {{totaloverviewwidget.name}}</strong>-->



 <!-- Dropdown Card Example -->
 <div class="card shadow mb-4">
   <!-- Card Header - Dropdown -->
   <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
     <h6 class="m-0 font-weight-bold text-primary">Total Overview</h6>
     <div class="dropdown no-arrow">
       <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
       </a>
       <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
         <div class="dropdown-header">Konfiguration:</div>
         <a class="dropdown-item" href="#"><s>Widget Settings</s></a>
         <a class="dropdown-item" href="#" onclick={{action "remove"}}>Remove</a>
         <!--<div class="dropdown-divider"></div>-->

       </div>
     </div>
   </div>
   <!-- Card Body -->
   <div class="card-body">


     <div>
        <canvas id="totaloverviewChart{{this.elementId}}" height="300"></canvas>

     </div>
     <!--
     <div class="chart-pie pt-4">
       <div class="chartjs-size-monitor">
         <div class="chartjs-size-monitor-expand">
           <div class=""></div></div>
           <div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
        <canvas id="totaloverviewChart{{this.elementId}}" width="275" height="253" class="chartjs-render-monitor" style="display: block; width: 275px; height: 253px;"></canvas>
      </div>
      -->

      <div>
        <span class="badge badge-pill badge-success">Timestamp: {{date this.timestampLandscape}}</span>
      </div>


   </div>
 </div>
