<!--
What is the meaning of life? Answer: {{result}}

<button class={{if askQuestion.isIdle 'button-primary'}}
  onclick={{perform askQuestion}}>
      {{#if askQuestion.isIdle}}
        Ask
      {{else}}
        Thinking...
        {{loading-spinner}}
      {{/if}}
</button>

-->



<div id="content-wrapper" class="d-flex flex-column" style="height:100%; overflow-y:scroll;">

  <!-- Main Content -->
  <div id="content">


    <!-- Begin Page Content -->
    <div class="container-fluid">

      <!-- Page Heading -->
      <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Dashboard Settings</h1>
      </div>

      <div id="titleContainer" style="width: 100%; height:auto; overflow:hidden; ">
        <div id="firstTitle" style="width: 40%; float: left">
          <p class="h2 mb-0 text-gray-800">Available widgets:</p>
        </div>
        <div id="secondTitle" style="width: 40%; float: right">
          <p class="h2 mb-0 text-gray-800">Instantiated widgets:</p>
        </div>
      </div>

      <div id="listContainer" style="width: 100%; height:auto; overflow:auto; margin-top: 10px;">

        <div id="availableWidgetList" style="width: 40%; float: left">
          <ul class="list-group">
            {{#each this.model as |widgetList|}}
              <li id="{{widgetList.widget}}" class="list-group-item" onclick={{action "listClickLeft"}} data-container="body" data-toggle="popover" data-placement="right" data-content={{widgetList.description}}>{{widgetList.displayName}}</li>
            {{/each}}
          </ul>
        </div>

        <div id="buttonContainer" style="width: 20%; float: left; height:100%; overflow:auto;">
          <button type="button" class="btn btn-dark" style="width: 35%; float: left; margin-top: 50%; margin-left: 10%;" onclick={{action "removeWidget"}}>&lt;</button>
          <button type="button" class="btn btn-dark" style="width: 35%; float: right;  margin-top: 50%; margin-right: 10%;;" onclick={{action "activateWidget"}}>&gt;</button>
        </div>

        <div id="activeWidgetList" style="width: 40%; float: right; position: relative;">
          <ul class="list-group">
            {{#each this.instantiatedWidgets as |widgetList|}}
              <li id="{{widgetList.widget}} {{widgetList.id}}" class="list-group-item" onclick={{action "listClickRight"}}>{{widgetList.displayName}} (id: {{widgetList.id}})</li>
            {{/each}}
          </ul>
        </div>

      </div>


      <button type="button" class="btn btn-dark" style="width: 7%; float: right; margin-right: 30px; margin-top: 15px;" onclick={{action "saveData"}}>Save</button>
      <button type="button" class="btn btn-dark" style="width: 7%; float: right; margin-right: 30px; margin-top: 15px;" onclick={{action "cancel"}}>Cancel</button>


    </div>
    <!-- /.container-fluid -->

  </div>
  <!-- End of Main Content -->



</div>
