
<!--
What is the meaning of life? Answer: {{result}}

<button class={{if askQuestion.isIdle 'button-primary'}}
  onclick={{perform askQuestion}}>
      {{#if askQuestion.isIdle}}
        Ask
      {{else}}
        Thinking...
        {{loading-spinner}}
      {{/if}}
</button>

-->



<div id="content-wrapper" class="d-flex flex-column" style="height:100%; overflow-y:scroll;">

  <!-- Main Content -->
  <div id="content">


    <!-- Begin Page Content -->
    <div class="container-fluid">

      <!-- Page Heading -->
      <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Dashboard Settings</h1>
      </div>

      <div id="availableWidgetList" style="width: 40%; float: left">
        <ul class="list-group">
          {{#each this.model as |widgetList|}}
            <li id="{{widgetList.widget}}" class="list-group-item" onclick={{action "listClickLeft"}}>{{widgetList.widget}}</li>
          {{/each}}
        </ul>
      </div>
      <button type="button" class="btn btn-dark" style="width: 5%; float: left; margin-top: 50px;" onclick={{action "removeWidget"}}>&lt;</button>
      <button type="button" class="btn btn-dark" style="width: 5%; float: right;  margin-top: 50px;" onclick={{action "activateWidget"}}>&gt;</button>

      <div id="activeWidgetList" style="width: 40%; float: right; position: relative;">
        <ul class="list-group">
          {{#each this.activeWidgetList as |widgetList|}}
            <li id="{{widgetList.widget}} {{widgetList.id}}" class="list-group-item" onclick={{action "listClickRight"}}>{{widgetList.widget}} (id: {{widgetList.id}})</li>
          {{/each}}
        </ul>
      </div>




    </div>
    <!-- /.container-fluid -->

  </div>
  <!-- End of Main Content -->



</div>
